<?xml version="1.0"?>
<configuration>
  <!-- path debe contener la ruta completa de navegacion, sin importar la ubicacion del archivo -->
  <location path="AsignarRoles.aspx">
    <system.web>
      <authorization>
        <!-- <deny users="?"/> Condicion = no permitir usuarios anonimos -->
        <allow roles="Administrador"/>
        <!-- Condicion = permitir usuarios con rol Admin -->
        <!-- <allow roles="Operador"/> --><!-- Condicion = permitir usuarios con rol Operador -->
        <deny users="*"/><!-- Condicion = no permitir ningun usuario -->
      </authorization>
    </system.web>
  </location>
</configuration>
